@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content/**/*";

@theme {
  --font-sans: 'Outfit', sans-serif;
}



:root {
  --ui-container: var(--container-4xl);

  ::selection {
    color: #282a30;
    background-color: #050101;
  }
}

.dark {
  ::selection {
    color: #ffffff;
    background-color: #474747;
  }
}

.page-enter-active,
.page-leave-active {
  transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.page-enter-from {
  opacity: 0;
  transform: translateY(-16px);
}

.page-leave-to {
  opacity: 0;
  transform: translateY(16px);
}
